.aboutMe-banner{
    position: relative;
    img{
        width: 100%;
    }
    h2{
        color: white;
        font-size: 70px;
        font-family: 'Gruppo', cursive;
        position: absolute;
        left: 150px;
        bottom: 50px;
    }
}
.personalInformation-secondary{
    h3{
        text-align: center;
    }
    p{
        text-align: justify;
        margin-left: 20%;
        margin-right: 20%;
    }
}