.contact__top-menu{
    width: 100%;
    background-color: #984343;
    float: right;
    margin: 0 auto;
    text-align: center;
    padding-bottom:8px;
    margin-top: 0;
    padding-top: 0;
    a{
        color: white;
        font-size: 35px;
        font-family: 'Gruppo', cursive;
        text-align: center;
        text-decoration: none;
        margin-top: 62px;
        margin-bottom: 62px;
        margin-left: 10%;
        padding: 5px 20px;
        border-radius: 100px;
        float: left;
    }
    a:hover{
        color: black;
        background-color: white;
    }
}
.contact__image{
    float: left;
}
.form-contact{
    background-color: #984343;
    float: left;
    margin-top: 70px;
    margin-left: 5%;
    padding: 40px 50px;
    width: 25%;
    .line{
        label{
            color: #fff;
            font-family: 'Gruppo', cursive;
            font-size: 1.7rem;
            margin-bottom: 20px;
            float: left;
            width: 100%;
        }
        input{
            font-family: 'Gruppo', cursive;
            font-size: 1.7rem;
            margin-bottom: 20px;
        }
    }
    button{
        font-size: 1.5rem;
        font-family: 'Gruppo', cursive;
        float: right;
        margin-top: 36px;
        padding: 10px 40px;
    }
}